.postsPageElement {
  width: 800px;
  display: flex;
  flex-direction: column;
}

.pageList {
  text-align: start;
}

.postItem {
  background-color: rgb(77, 77, 77);
  border-radius: 12px;
  margin-bottom: 4px;
  padding: 4px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.postItem p {
  text-align: start;
}

.postTitle {
  font-size: 22px;
  font-weight: 500;
  text-decoration: underline;
}