@font-face {
    font-family: 'Objective';
    src: local('Objective Regular'), local('Objective-Regular'), url('Objective-Regular.woff2') format('woff2'), url('Objective-Regular.otf') format('truetype');
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'Objective';
    src: local('Objective Medium'), local('Objective-Medium'), url('Objective-Medium.woff2') format('woff2'), url('Objective-Medium.otf') format('truetype');
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'Objective';
    src: local('Objective Bold'), local('Objective-Bold'), url('Objective-Bold.woff2') format('woff2'), url('Objective-Bold.otf') format('truetype');
    font-weight: 700;
    font-style: normal;
}