$bg-color-main: white;
$bg-color-red: red;
$bg-color-grey: rgb(217, 238, 255);

$bg-scroll-light: #e0d7d7;
$bg-scroll-dark: #b3b3b3;

$font-color-white: white;
$font-color-black: rgb(49, 49, 49);
$font-color-gray: gray;

$logo-shadow: 1px 1px 2px rgba(0, 0, 0, 0.4);
$img-shadow: 0px 0px 4px rgba(0, 0, 0, 0.4);
$btn-shadow: 0px 0px 1px rgba(0, 0, 0, 0.4);
$item-shadow: -1px -1px 4px rgba(0, 0, 0, 0.4);
$checkout-shadow: 4px 4px 4px rgba(0, 0, 0, 0.4);
$maintitle-shadow: 0px 4px 16px rgba(0, 0, 0, 0.2);
$card-shadow: 0px 0px 8px rgba(0, 0, 0, 0.4);