.main {
  width: 100%;
  height: 100vh;
  margin-top: -80px;
  background-image: url('../img/main-page.jpg');
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  &__title {
    color: $font-color-white;
    font-family: 'Kaushan Script', sans-serif;
    font-size: 68px;
    letter-spacing: 4px;
    text-shadow: $maintitle-shadow;
  }
  &__text {
    color: $font-color-white;
    font-size: 36px;
    font-weight: 500;
    letter-spacing: 1px;
    margin-bottom: 24px;
  }
  &__btn {
    color: $font-color-white;
    text-transform: uppercase;
    font-size: 14px;
    line-height: 28px;
    width: 120px;
    height: 28px;
    border: 1px solid $font-color-white;
    border-radius: 4px;
    background: none;
    cursor: pointer;
    transition: 500ms ease;
    a {
      text-decoration: none;
      color: inherit;
    }
    &:hover {
      background-color: $bg-color-red;
      border: 1px solid rgba(255, 255, 255, 0);
    }
  }
}