$font-color-prime: rgb(88, 165, 146);
$font-color-second: rgb(94, 94, 94);
$font-color-white: antiquewhite;
$font-color-black: rgb(15, 15, 15);

$bg-color-white: rgb(255, 248, 239);
$bg-color-grey: rgb(221, 221, 221);
$bg-color-green: rgb(88, 165, 146);

$border-color: rgb(173, 173, 173);