* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Objective";
}

body {
  position: relative;
  z-index: -10;
}

.container {
  max-width: 1440px;
  margin: auto;
  background: #FFFFFF;
  position: relative;
  z-index: -2;
}

.main {
  width: 100%;
  min-height: 768px;
  padding-top: 44px;
  position: relative;
  z-index: 0;
}
.main::before {
  content: "";
  background: linear-gradient(1.02deg, #4A99D3 -17.33%, rgba(74, 153, 211, 0) 75.91%), #FFFFFF;
  opacity: 0.2;
  transform: rotate(-180deg);
  box-shadow: 0px 4px 16px rgba(75, 0, 129, 0.26);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: inherit;
  z-index: -1;
}
.main__header {
  width: 66%;
  height: 44px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .main__header {
    width: 83%;
  }
}
@media (max-width: 960px) {
  .main__header {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .main__header {
    width: 83%;
  }
}
.main__logo {
  font-weight: 700;
  font-size: 40px;
  line-height: 44px;
}
.main__logoLink {
  color: #4A99D3;
  text-decoration: none;
}
.main__menu {
  list-style: none;
  width: 312px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 767px) {
  .main__menu {
    width: 240px;
  }
}
.main__menuLink {
  color: #0F001A;
  text-decoration: none;
  font-weight: 500;
  font-size: 18px;
  line-height: 20px;
  cursor: pointer;
}
.main__menuLink:hover {
  text-decoration: underline;
}
.main--active {
  color: #4A99D3;
}
.main .hamburger-menu {
  position: relative;
}
.main #menu__toggle {
  opacity: 0;
  margin-top: -16px;
}
@media (max-width: 540px) {
  .main .menu__btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 44px;
    right: 40px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 12;
  }
  .main .menu__btn > span,
  .main .menu__btn > span::before,
  .main .menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #4A99D3;
  }
  .main .menu__btn > span::before {
    content: "";
    top: -8px;
  }
  .main .menu__btn > span::after {
    content: "";
    top: 8px;
  }
  .main .main__menu {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 240px;
    height: 25%;
    margin: 0;
    padding: 80px 0 20px;
    list-style: none;
    text-align: center;
    background-color: #FFFFFF;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    z-index: 11;
  }
  .main .main__menuLink {
    display: block;
    padding: 12px 24px;
    color: #260041;
    font-size: 18px;
    font-weight: 500;
    text-decoration: none;
  }
  .main .main__menuLink:hover {
    background-color: #CFD8DC;
  }
  .main #menu__toggle:checked ~ .menu__btn > span {
    transform: rotate(45deg);
  }
  .main #menu__toggle:checked ~ .menu__btn > span::before {
    top: 0;
    transform: rotate(0);
  }
  .main #menu__toggle:checked ~ .menu__btn > span::after {
    top: 0;
    transform: rotate(90deg);
  }
  .main #menu__toggle:checked ~ .main__menu {
    visibility: visible;
    right: 0;
  }
  .main .menu__btn > span,
  .main .menu__btn > span::before,
  .main .menu__btn > span::after {
    transition-duration: 0.25s;
  }
  .main .main__menu {
    transition-duration: 0.25s;
  }
  .main .main__menuLink {
    transition-duration: 0.25s;
  }
}
.main__content {
  width: 66%;
  height: 680px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .main__content {
    width: 83%;
  }
}
@media (max-width: 960px) {
  .main__content {
    width: 90%;
    margin-top: -40px;
  }
}
@media (max-width: 767px) {
  .main__content {
    flex-direction: column;
    margin-top: 40px;
    align-items: center;
    width: 83%;
  }
}
.main__contentText {
  max-width: 636px;
  max-height: 384px;
  margin-right: 32px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 767px) {
  .main__contentText {
    margin-bottom: 24px;
    align-items: center;
  }
}
.main__contentText .main__contentTitle {
  color: #0F001A;
  font-weight: 500;
  font-size: 50px;
  line-height: 70px;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}
@media (max-width: 960px) {
  .main__contentText .main__contentTitle {
    font-size: 42px;
    line-height: 56px;
  }
}
.main__contentText .main__contentTitle span {
  white-space: nowrap;
}
.main__contentText .main__contentDesc {
  color: #0F001A;
  font-weight: 400;
  font-size: 20px;
  line-height: 36px;
  margin-bottom: 60px;
}
@media (max-width: 960px) {
  .main__contentText .main__contentDesc {
    margin-bottom: 24px;
  }
}
.main__contentText .main__contentBtns a:nth-child(1) {
  margin-right: 12px;
}
.main__contentImg {
  max-width: 440px;
  max-height: 536px;
  display: flex;
  align-items: flex-end;
  margin-right: -158px;
}
@media (max-width: 1100px) {
  .main__contentImg {
    margin-right: 0;
  }
}
@media (max-width: 960px) {
  .main__contentImg {
    margin-right: -28px;
  }
}
@media (max-width: 767px) {
  .main__contentImg {
    margin-right: 0;
  }
}
.main__contentImg img:nth-child(1) {
  width: 240px;
  margin-right: -80px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1100px) {
  .main__contentImg img:nth-child(1) {
    width: 180px;
  }
}
.main__contentImg img:nth-child(2) {
  width: 280px;
}
@media (max-width: 1100px) {
  .main__contentImg img:nth-child(2) {
    width: 210px;
  }
}

.about {
  width: 100%;
  min-height: 1470px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
@media (max-width: 767px) {
  .about {
    margin-top: 120px;
  }
}
.about__cards {
  width: 66%;
  max-height: 1176px;
  margin: auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: 588px 588px;
  position: relative;
  z-index: -1;
}
@media (max-width: 1100px) {
  .about__cards {
    width: 83%;
  }
}
@media (max-width: 960px) {
  .about__cards {
    width: 90%;
  }
}
@media (max-width: 767px) {
  .about__cards {
    width: 83%;
    grid-template-columns: 1fr;
    grid-auto-rows: 888px 588px 588px;
    max-height: 2000px;
  }
}
.about__cards::before {
  content: "";
  width: 154px;
  height: 154px;
  background-image: url(../img/dots-group.png);
  position: absolute;
  top: -64px;
  right: -78px;
  z-index: -1;
}
@media (max-width: 960px) {
  .about__cards::before {
    right: 0;
  }
}
.about__cards::after {
  content: "";
  width: 154px;
  height: 154px;
  background-image: url(../img/dots-group.png);
  position: absolute;
  top: 524px;
  left: -20px;
  z-index: -1;
}
.about__cards .about__send {
  order: 2;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 767px) {
  .about__cards .about__send {
    order: 1;
    margin-top: 300px;
  }
}
.about__cards .about__send .card {
  margin-top: -40px;
}
.about__cards .about__send .about__sendImg {
  width: 224px;
  height: 196px;
  margin: -20px auto 0;
}
.about__cards .about__receive {
  order: 1;
  display: flex;
  justify-content: end;
  align-items: center;
  grid-column: 1;
  grid-row: 1/3;
  position: relative;
}
@media (max-width: 767px) {
  .about__cards .about__receive {
    order: 2;
    grid-column: auto;
    grid-row: auto;
    margin-top: -120px;
    justify-content: start;
  }
}
.about__cards .about__receive .about__title {
  max-width: 396px;
  position: absolute;
  top: 0;
  left: 0;
  color: #260041;
  font-weight: 500;
  font-size: 36px;
  line-height: 46px;
  letter-spacing: 0.05em;
}
@media (max-width: 767px) {
  .about__cards .about__receive .about__title {
    top: -650px;
  }
}
.about__cards .about__receive .about__receiveImg {
  width: 182px;
  height: 132px;
  margin: 48px 0 0 26px;
}
.about__cards .about__buy {
  order: 3;
  display: flex;
  justify-content: end;
  align-items: center;
}
@media (max-width: 767px) {
  .about__cards .about__buy {
    margin-top: -260px;
  }
}
.about__cards .about__buy .card {
  margin-bottom: -60px;
}
.about__cards .about__buy .about__buyImg {
  width: 156px;
  height: 132px;
  margin: 48px 0 0 52px;
}
.about .about__sendTitle,
.about .about__receiveTitle,
.about .about__buyTitle {
  color: #0F001A;
  font-weight: 500;
  font-size: 20px;
  line-height: 30px;
  letter-spacing: 0.02em;
}
.about .about__sendText,
.about .about__receiveText,
.about .about__buyText {
  color: #0F001A;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  opacity: 0.6;
  margin-bottom: 32px;
}
.about .about__sendLink,
.about .about__receiveLink,
.about .about__buyLink {
  text-decoration: none;
  color: #4A99D3;
  font-weight: 500;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.05em;
}
.about .card {
  width: 380px;
  height: 528px;
  background-color: #FFFFFF;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  box-shadow: 5px 20px 50px rgba(74, 153, 211, 0.2);
  padding: 0 48px 48px;
}
.about .card a img {
  margin: 8px 0 -4px 16px;
  width: 16px;
  height: 16px;
}
.about::before {
  content: "";
  width: 190px;
  height: 199px;
  background-image: url(../img/rectangle_1.png);
  position: absolute;
  top: 0;
  right: 0;
  z-index: -1;
}
.about::after {
  content: "";
  width: 190px;
  height: 199px;
  background-image: url(../img/rectangle_2.png);
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.how-it-works {
  width: 100%;
  min-height: 476px;
  background-color: rgba(74, 153, 211, 0.1);
  padding: 96px 0;
}
@media (max-width: 767px) {
  .how-it-works {
    padding: 72px 0 36px;
  }
}
.how-it-works__title {
  color: #4A99D3;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  margin-bottom: 88px;
}
.how-it-works__cards {
  width: 66%;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .how-it-works__cards {
    width: 83%;
  }
}
@media (max-width: 960px) {
  .how-it-works__cards {
    width: 94%;
  }
}
@media (max-width: 767px) {
  .how-it-works__cards {
    flex-direction: column;
  }
}
.how-it-works__cards .how-it-works__card {
  width: 224px;
  height: 172px;
  text-align: center;
}
@media (max-width: 767px) {
  .how-it-works__cards .how-it-works__card {
    margin-bottom: 24px;
  }
}
.how-it-works__cards .how-it-works__card .icon-account {
  width: 60px;
  height: 60px;
}
.how-it-works__cards .how-it-works__card .icon-authorization {
  width: 60px;
  height: 60px;
}
.how-it-works__cards .how-it-works__card .icon-enjoy {
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
}
.how-it-works__cards .how-it-works__card .title {
  color: #0F001A;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
  margin: 30px 0 10px;
}
@media (max-width: 767px) {
  .how-it-works__cards .how-it-works__card .title {
    margin: 10px 0;
  }
}
.how-it-works__cards .how-it-works__card .text {
  color: #0F001A;
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
}

.clients {
  width: 100%;
  min-height: 748px;
  position: relative;
}
.clients::before {
  content: "";
  width: 154px;
  height: 154px;
  background-image: url(../img/dots-group.png);
  position: absolute;
  top: 238px;
  right: 0px;
  z-index: -1;
}
.clients__title {
  color: #0F001A;
  font-weight: 700;
  font-size: 26px;
  line-height: 27px;
  text-align: center;
  margin: 148px 0 0;
}
@media (max-width: 960px) {
  .clients__title {
    margin-top: 64px;
  }
}
.clients__slider {
  width: 83%;
  height: 596px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-end;
  margin-top: -64px;
}
@media (max-width: 1100px) {
  .clients__slider {
    width: 90%;
  }
}
@media (max-width: 960px) {
  .clients__slider {
    flex-direction: column;
    align-items: center;
    margin: 140px 0 40px 0;
  }
}
@media (max-width: 767px) {
  .clients__slider {
    margin-bottom: 160px;
  }
}
.clients__slider .clients__image {
  width: 50%;
  height: 400px;
  background-color: rgba(74, 153, 211, 0.1);
  border-radius: 0px 6px 6px 0px;
}
@media (max-width: 960px) {
  .clients__slider .clients__image {
    width: 100%;
    margin-bottom: 32px;
  }
}
.clients__slider .clients__image img {
  width: 400px;
  height: 520px;
  margin: -120px 0 0 20%;
}
.clients__slider .clients__reviews {
  width: 420px;
  height: 360px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: -40px;
}
@media (max-width: 1100px) {
  .clients__slider .clients__reviews {
    width: 360px;
  }
}
.clients__slider .clients__icon {
  position: relative;
}
.clients__slider .clients__icon::before {
  color: #878787;
  font-size: 50px;
  opacity: 0.5;
}
.clients__slider .clients__review {
  color: #0F001A;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  opacity: 0.5;
}
.clients__slider .clients__name {
  color: #0F001A;
  font-weight: 500;
  font-size: 18px;
  line-height: 19px;
}
@media (max-width: 767px) {
  .clients__slider .clients__name {
    margin-top: 20px;
  }
}
.clients__slider .clients__controls {
  width: 160px;
  height: 80px;
  margin-left: 260px;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.08);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.clients__slider .clients__controls .toleft {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #4A99D3;
  border-radius: 4px 0px 0px 4px;
  text-decoration: none;
  text-align: center;
}
.clients__slider .clients__controls .toleft::before {
  width: 80px;
  height: 80px;
  text-align: center;
  line-height: 80px;
  color: #FFFFFF;
  font-size: 40px;
}
.clients__slider .clients__controls .toright {
  display: block;
  width: 80px;
  height: 80px;
  background-color: #FFFFFF;
  border-radius: 0px 4px 4px 0px;
  text-decoration: none;
  text-align: center;
}
.clients__slider .clients__controls .toright::before {
  width: 80px;
  height: 80px;
  line-height: 80px;
  color: #4A99D3;
  font-size: 40px;
}

.download {
  width: 100%;
  min-height: 580px;
  position: relative;
  z-index: 0;
  overflow: hidden;
}
@media (max-width: 767px) {
  .download {
    min-height: 780px;
  }
}
.download::before {
  content: "";
  width: 190px;
  height: 199px;
  background-image: url(../img/rectangle_1.png);
  position: absolute;
  bottom: -50px;
  left: 0;
  transform: rotate(-180deg);
}
.download::after {
  content: "";
  width: 190px;
  height: 199px;
  background-image: url(../img/rectangle_2.png);
  position: absolute;
  bottom: -50px;
  right: 0;
  transform: rotate(180deg);
}
.download__content {
  width: 66%;
  min-height: 460px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .download__content {
    width: 83%;
  }
}
@media (max-width: 767px) {
  .download__content {
    flex-direction: column;
  }
}
.download__contentImg {
  max-width: 516px;
  max-height: 460px;
  display: flex;
  align-items: flex-end;
  margin-left: -78px;
}
@media (max-width: 1100px) {
  .download__contentImg {
    margin-left: -8px;
  }
}
@media (max-width: 960px) {
  .download__contentImg {
    margin-left: -48px;
  }
}
@media (max-width: 767px) {
  .download__contentImg {
    margin-left: 0;
  }
}
.download__contentImg img:nth-child(1) {
  width: 180px;
  margin-bottom: 57px;
}
@media (max-width: 1100px) {
  .download__contentImg img:nth-child(1) {
    width: 135px;
  }
}
.download__contentImg img:nth-child(2) {
  width: 240px;
  margin-left: -42px;
  position: relative;
  z-index: 10;
}
@media (max-width: 1100px) {
  .download__contentImg img:nth-child(2) {
    width: 180px;
  }
}
.download__contentImg img:nth-child(3) {
  width: 180px;
  margin: 0 0 57px -42px;
}
@media (max-width: 1100px) {
  .download__contentImg img:nth-child(3) {
    width: 135px;
  }
}
.download__contentText {
  max-width: 444px;
  max-height: 232px;
  display: flex;
  flex-direction: column;
}
.download__contentText .download__contentTitle {
  color: #0F001A;
  font-weight: 700;
  font-size: 25px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 16px;
}
.download__contentText .download__contentDesc {
  color: #0F001A;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  margin-bottom: 56px;
}
.download__contentText .download__contentBtns {
  display: flex;
  justify-content: center;
}
.download__contentText .download__contentBtns a:nth-child(1) {
  margin-right: 22px;
}
.download__contentText .download__contentBtns a:nth-child(2) {
  text-decoration: none;
}
.download__contentText .appstore {
  width: 167px;
  height: 53px;
  background-color: #000000;
  border-radius: 8px;
  padding-top: 9px;
}
.download__contentText ._icon-appStore {
  width: 167px;
  height: 53px;
  text-align: center;
  color: #FFFFFF;
  font-size: 35px;
}

.footer {
  width: 100%;
  background-color: #4A99D3;
}
.footer__navbar {
  width: 83%;
  min-height: 292px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
  padding-top: 54px;
}
@media (max-width: 1100px) {
  .footer__navbar {
    width: 94%;
  }
}
@media (max-width: 960px) {
  .footer__navbar {
    flex-direction: column;
    padding-bottom: 20px;
  }
}
.footer__navbar ul {
  list-style: none;
}
.footer__navbar a {
  text-decoration: none;
  color: #FFFFFF;
}
.footer__navbar .navbar__menu {
  width: 39%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  align-items: flex-start;
}
@media (max-width: 960px) {
  .footer__navbar .navbar__menu {
    width: 83%;
    margin-bottom: 32px;
  }
}
.footer__navbar .navbar__menuItem {
  width: fit-content;
  white-space: nowrap;
}
.footer .navbar__menuItem h6 {
  width: fit-content;
  color: #FFFFFF;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  border-bottom: 2px solid #FFFFFF;
  margin-bottom: 36px;
}
.footer .navbar__menuItem li {
  margin-bottom: 18px;
}
.footer .navbar__menuList {
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
}
.footer .navbar__menuList:hover {
  text-decoration: underline;
}
@media (max-width: 960px) {
  .footer__logo {
    margin-bottom: 32px;
  }
}
.footer__logoLink {
  text-decoration: none;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 34px;
  line-height: 35px;
}
.footer__form {
  width: 394px;
  height: 122px;
  display: flex;
  flex-direction: column;
}
@media (max-width: 540px) {
  .footer__form {
    width: 374px;
  }
}
.footer__form .form__label {
  color: #FFFFFF;
  font-weight: 400;
  font-size: 18px;
  line-height: 26px;
  margin-bottom: 20px;
}
.footer__form .form__inputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__form #email {
  width: 268px;
  height: 50px;
  border-radius: 3px;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  padding: 10px;
  margin-right: 10px;
  color: rgba(0, 0, 0, 0.5019607843);
  border: none;
}
@media (max-width: 540px) {
  .footer__form #email {
    width: 248px;
  }
}
.footer__form .form__subscribe {
  width: 116px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 17px;
  color: #4A99D3;
  background-color: #FFFFFF;
  border-radius: 3px;
  border: none;
  cursor: pointer;
}
.footer__line {
  width: 100%;
  height: 1px;
  background-color: #FFFFFF;
}
.footer__copyright {
  width: 83%;
  height: 57px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1100px) {
  .footer__copyright {
    width: 94%;
  }
}
.footer__copyrightText {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 10.41px;
  line-height: 11px;
}
.footer__copyright .footer__socials {
  list-style: none;
  width: 136px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.footer__copyright .footer__socials a {
  text-decoration: none;
  color: #FFFFFF;
  font-size: 16px;
}

/*# sourceMappingURL=style.css.map */
