$font-blue: #4A99D3;
$font-black: #0F001A;
$font-white: #FFFFFF;
$font-black-blue: #260041;

$icon-color-blue: #4A99D3;
$icon-color-peach: #D3844A;

$bg-layout: #FFFFFF;
$bg-footer: #4A99D3;
$bg-secondary: rgba(74, 153, 211, 0.1);

$box-shadow-primery: 0px 4px 16px rgba(75, 0, 129, 0.26);
$box-shadow-secondary: 5px 20px 50px rgba(74, 153, 211, 0.2);
$box-shadow-controls: 0px 4px 16px rgba(0, 0, 0, 0.08);