* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Objective';
}
@import "includes/variables";
@import "includes/mixins";
body {
    position: relative;
    z-index: -10;
}
.container {
    max-width: 1440px;
    margin: auto;
    background: $bg-layout;
    position: relative;
    z-index: -2;
    overflow-x: hidden;
}
@import "includes/_main";
@import "includes/_about";
@import "includes/_how-it-works";
@import "includes/_clients";
@import "includes/_download";
@import "includes/_footer";